<script>
</script>
<%= render 'layouts/breadcrumbs', crumbs: {'Dashboard' => nil} %>
<div class="card no-border">
  <div class="card-body no-border">
    <div class="row">
      <div class="col16-md-4">
        <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#startNewRecord"><span class="fa fa-magic"></span> Create New System</button>
      </div>
      <div class="col16-md-6 text-center canary-sub-header">
        <h4>IJE</h4>
      </div>
      <div class="col16-md-6 text-center canary-sub-header">
        <h4>FHIR</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col16-md-4">
      </div>
      <div class="col16-md-3 text-center">
        <strong>Export</strong>
      </div>
      <div class="col16-md-3 text-center">
        <strong>Import</strong>
      </div>
      <div class="col16-md-3 text-center">
        <strong>Export</strong>
      </div>
      <div class="col16-md-3 text-center">
        <strong>Import</strong>
      </div>
    </div>
  </div>
</div>
<% if @systems.count == 0 %>
<div class="row justify-content-center mt-5">
  You have not yet completed any EDRS system tests.
</div>
<% end %>
<% @systems.each do |system| %>
<div class="card mt-4 mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col16-md-4 pl-4 pt-2">
        <div class="row mb-1"><%= system.name %></div>
        <div class="row">
          <span class="fa fa-search mr-1"></span><a href="<%= system_path system %>">View</a>
          <span class="fa fa-trash ml-3 mr-1"></span><%= link_to 'Delete', system_path(system), data: {confirm: 'Are you sure you want to delete this EDRS system?'}, method: :delete %>
        </div>
      </div>
      <div class="col16-md-3 center-inner-div text-center">
        <% if system.ije_export_tests.count > 0 %>
          <div class="no-pad-no-marg c100 small canary-color p<%= system.ije_export_tests.first.score %>">
            <span><%= system.ije_export_tests.first.score %>%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        <% else %>
          None
        <% end %>
      </div>
      <div class="col16-md-3 center-inner-div text-center">
        <% if system.ije_import_tests.count > 0 %>
          <div class="no-pad-no-marg c100 small canary-color p<%= system.ije_import_tests.first.score %>">
            <span><%= system.ije_import_tests.first.score %>%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        <% else %>
          None
        <% end %>
      </div>
      <div class="col16-md-3 center-inner-div text-center">
        <% if system.fhir_export_tests.count > 0 %>
          <div class="no-pad-no-marg c100 small canary-color p<%= system.fhir_export_tests.first.score %>">
            <span><%= system.fhir_export_tests.first.score %>%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        <% else %>
          None
        <% end %>
      </div>
      <div class="col16-md-3 center-inner-div text-center">
        <% if system.fhir_import_tests.count > 0 %>
          <div class="no-pad-no-marg c100 small canary-color p<%= system.fhir_import_tests.first.score %>">
            <span><%= system.fhir_import_tests.first.score %>%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        <% else %>
          None
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= paginate @systems %>
<div class="pb-3"></div>

<div class="modal fade" id="startNewRecord" tabindex="-1" role="dialog" aria-labelledby="startNewRecordLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start A New EDRS Test Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag({action: 'create'}, method: 'post') do %>
          <div class="form-group">
            <%= label_tag :name, 'Name of System' %>
            <%= text_field_tag :name, '', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :notes, 'Notes' %>
            <%= text_area_tag :notes, '', class: 'form-control' %>
          </div>
          <button type="submit" class="btn btn-primary float-right">
            Create
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
