<!DOCTYPE html>
<html>
  <head>
    <title>Canary EDRS Testing Framework</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% if !current_user.nil? && user_signed_in? %>
      <%= render "layouts/header" %>
      <div class="container canary-container canary-no-padding">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
